.medium-whitney {
  font-family: "whitneymedium" !important;
}

.bold-whitney {
  font-family: "whitneybold" !important;
}

.semibold-whitney {
  font-family: "semibold" !important;
}

.book-whitney {
  font-family: "book" !important;
}

.semibold-whitney {
  font-family: "semibold" !important;
}
